__pycache__/
*.pyc
.venv/
env/
data/
data_for_regenie/
helpers/
results/
.DS_Store

*_config.json
*_weights*.tsv
*_h2_report.tsv
phenotype_*.txt


*.zip
*.raw
*.tsv
*.sh

# Regenie binary
regenie_v3.4.gz_x86_64_OSX
regenie_v3.4.gz_x86_64_OSX.zip